* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #root {
    min-height: 100vh;
    background: linear-gradient(150deg, rgb(28, 196, 146) 45%, rgba(31, 122, 220) 100%); 
  }
  
  .image {
    width: 30px;
    height: 30px;
  }
  
  input {
    height: 50px;
    width: 450px;
    border-radius: 50px;
    border: none;
    padding-left: 15px;
    font-size: larger;
    margin-bottom: 200px;
  }
  
  button {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: none;
    margin-left: 550px;
    margin-top: 30px;
    background-color: white;
  }
  
  h1 {
    font-size: 80px;
    font-weight: 300;
    color: white;
  }

  #condition {
    width: 150px;
    height: 150px;
  }

  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }